Options -MultiViews
RewriteEngine On
RewriteBase /

# Redirect everything to index.php if not a file or folder
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
