/* ======VARIABLES GLOBALES======*/
:root {
    /* Couleurs principales */
    --color-primary-a: #0047AB;
    --color-primary-b: #005F84;
    --color-primary-c: #064747;
    --color-gray: #6C7570;
    --color-success: #008000;
    --color-warning: #BE5103;
    --color-info: #0d6efd;
    --color-purple: #560591;
    --color-green-dark: #2E6F40;
    --color-navbar-releve: #A6C3A8;
}

/* ======GLOBAL STYLES====== */
body {
    padding-top: 80px; /* Ajusté à la hauteur du navbar */
}

.placeholder-style::placeholder {
    font-size: 15px;
    color: #A1A1A1;
    opacity: 1;
}

/* ======NAVBAR / LINKS & BADGES====== */

.nav-link {
    font-weight: 600;
}

.nav-link:focus, .nav-link:hover {
    color: var(--color-primary-c);
}
.nav-link.custom-hover:focus, .nav-link.custom-hover:hover{
    color: var(--color-warning);
}

/* Navbar inactive */
a.inactive {
    color: var(--color-gray);
}

/* Expeditions */
.nav-link.active-step-a { color: var(--color-primary-b); }
.navbar .badge.active-step-a { background-color: var(--color-primary-b); }

/* Relevés */
.nav-link.active-step-b { color: var(--color-primary-c); }
.navbar .badge.active-step-b { background-color: var(--color-primary-c); }
.custom-navbar-releve { background-color: var(--color-navbar-releve) !important;}

/* ======TABLES / FORMS====== */

thead tr.custom-color-a {
    background-color: #f2f2f2;
    color: #333;
}

.custom-form-text {
    font-size: 0.7rem;
    color: var(--color-gray);
}

.custom-check-input {
    border: 2px solid var(--color-gray);
}

/* =======PAGINATION======= */

.page-link.custom-prod.active {
    background-color: var(--color-purple);
    border-color: var(--color-purple);
    color: #fff;
}

.page-link.custom.active {
    background-color: var(--color-green-dark);
    border-color: var(--color-green-dark);
    color: #fff;
}

/* =====================================================
   COULEURS UTILITAIRES
===================================================== */
.custom-color-a { color: var(--color-primary-a); }
.custom-color-b { color: var(--color-primary-b); }
.custom-color-c { color: var(--color-primary-c); }
.custom-color-d { color: var(--color-gray); }
.custom-color-e { color: var(--color-warning); }
.custom-color-f { color: var(--color-info); }
.custom-color-g { color: #05472A; }
.custom-color-h { color: #290245; }
.custom-success { color: var(--color-success); }
