.nav-link.active-step {
    color: #0047AB;
    font-weight: 600;
}

.badge.active-step {
    background-color: #0047AB !important;
    color: #fff !important;
}
a.inactive {
    color: #6C7570 !important;
}

.placeholder-style::placeholder {
        font-size: 15px;
        color: #878787;
        opacity: 1;
    }
