/* ======VARIABLES GLOBALES======*/
:root {
    /* Couleurs principales */
    --color-primary-a: #0047AB;
    --color-primary-b: #005F84;
    --color-primary-c: #064747;
    --color-green-toned: #005F66;
    --color-dark-green-toned: #05472A;
    --color-opal: #A8C3BC;
    --color-gray: #6C7570;
    --color-dark-gray: #546373;
    --color-light-gray: #D3D3D3;
    --color-white: #f2f2f2;
    /* --color-success: #008000;  */
    --color-success: #198754; 
    --color-warning: #BE5103;
    --color-info-warning: #CC7722;
    --color-info: #0d6efd;
    --color-purple-toned: #5C5CFF;
    --color-light-purple: #E6E6FF;
    --color-violet: #B163FF;
    --color-light-violet: #E0B0FF;
    --color-purple: #000047;
    --color-dark-purple: #290245;
    --color-blue-toned: #00738A;
    --color-navbar-releve: #A6C3A8;
    --color-info-danger: #E73121;
    
}

/* ======GLOBAL STYLES====== */
body {
    padding-top: 80px; /* Ajusté à la hauteur du navbar */
}

.placeholder-style::placeholder {
    font-size: 15px;
    color: #A1A1A1;
    opacity: 1;
}

/* ======NAVBAR / LINKS & BADGES====== */

.nav-link {
    font-weight: 600;
}

.nav-link:focus, .nav-link:hover {
    color: var(--color-primary-c);
}
.nav-link.custom-hover:focus, .nav-link.custom-hover:hover{
    color: var(--color-warning);
}

/* Navbar inactive */
a.inactive {
    color: var(--color-dark-gray);
}

/* Navbar Expeditions */
.nav-link.active-step-a { color: var(--color-primary-b); }
.navbar .badge.active-step-a { background-color: var(--color-primary-b); }

/* Navbar Relevés */
.nav-link.active-step-b { color: var(--color-primary-c); }
.navbar .badge.active-step-b { background-color: var(--color-primary-c); }
.custom-navbar-releve { background-color: var(--color-navbar-releve) !important;}

/* Navbar Inventaire */
.nav-link.active-step-c { color: var(--color-light-violet); }
.navbar .badge.active-step-c { background-color: var(--color-violet); }
.custom-navbar-inventaire { background-color: var(--color-dark-purple) !important;}


/* ======TABLES / FORMS====== */

thead tr.custom-color-a {
    background-color: var(--color-white);
    color: #333;
}

.custom-form-text {
    font-size: 0.7rem;
    color: var(--color-gray);
}

.custom-check-input {
    border: 2px solid var(--color-gray);
}

/* =======PAGINATION======= */

.releve-pagination .page-link.active,
.releve-pagination .active > .page-link  {
    background-color: var(--color-primary-c) !important;
    border-color: var(--color-primary-c) !important;
    color: var(--color-white) !important;
}

.products-pagination .page-link.active,
.products-pagination .active > .page-link  {
    background-color: var(--color-dark-purple) !important;
    border-color: var(--color-dark-purple) !important;
}

.commands-pagination .page-link.active,
.commands-pagination .active > .page-link  {
    background-color: var(--color-dark-gray) !important;
    border-color: var(--color-dark-gray) !important;
}
/* =======CLIENT PAGE ICONS======= */

.custom-edit-icon {
  color: var(--color-blue-toned);
}

/* Hovering the BUTTON also affects the icon */
.custom-btn-bg:hover .custom-edit-icon,
.custom-btn-bg:hover .custom-check-icon,
.custom-btn-bg:hover .custom-close-icon,
.custom-btn-bg:focus .custom-edit-icon,
.custom-btn-bg:focus .custom-check-icon,
.custom-btn-bg:focus .custom-close-icon,
.custom-btn-bg:active .custom-edit-icon,
.custom-btn-bg:active .custom-check-icon,
.custom-btn-bg:active .custom-close-icon {
  color: var(--color-white);
}

/* Button base */
.custom-btn-bg {
  background-color: var(--color-white);
  border-color: var(--color-blue-toned) !important;
}

/* Button hover/focus/active */
.custom-btn-bg:hover,
.custom-btn-bg:focus,
.custom-btn-bg:active {
  background-color: var(--color-blue-toned) !important;
  color: var(--color-white) !important;
  border-color: inherit !important;
  box-shadow: none !important;
}

.custom-check-icon{
    color: var(--color-success);
}
.custom-close-icon{
    color: var(--color-info-danger);
}


/* =======CARDS======= */
.card-header.custom-color-inventaire, 
.card-header.custom-color-releve{
    background-color: var(--color-primary-c);
}
.card-header.custom-color-expedition {
    background-color: var(--color-green-toned);
}
.card-header.custom-color-notifications {
    background-color: var(--color-dark-gray);
}

/*==========Dashboard==========*/
    .card-kpi {
        text-align: center;
    }

    .card-kpi h2 {
        font-size: 2rem;
        margin-bottom: .25rem;
    }

    .card-kpi span.label {
        font-size: .85rem;
        text-transform: uppercase;
        letter-spacing: .05em;
        font-weight: 700;
    }

    .avatar-circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #dee2e6;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
    }
    .card-header.custom-header-dashboard{
        background-color: var(--color-dark-purple);
        color: var(--color-light-gray)
    }
    th.custom-color-i{
         color: var(--color-dark-gray) !important; 
    }
    td.custom-success{
         color: var(--color-success) !important;
         font-weight: 500; 
    }
    .text-bg-warning-custom { 
        color: var(--color-white);
        background-color: var(--color-info-warning);
    }

/* =====================================================
   COULEURS UTILITAIRES
===================================================== */
.custom-color-a { color: var(--color-primary-a); }
.custom-color-b { color: var(--color-primary-b); }
.custom-color-c { color: var(--color-primary-c); }
.custom-color-d { color: var(--color-gray); }
.custom-color-white { color: var(--color-white); }
.custom-color-e { color: var(--color-warning); }
.custom-color-f { color: var(--color-info); }
.custom-color-g { color: var(--color-dark-green-toned); }
.custom-color-h { color: var(--color-dark-purple); }
.custom-color-i { color: var(--color-dark-gray); }
.custom-success { color: var(--color-success); }
.custom-warning { color: var(--color-info-warning);}
.custom-danger { color: var(--color-info-danger); }


